# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
*.venv
.venv
*.egg
*.egg-info/
dist/
build/
*.wheel
*.log

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code
.vscode/

# System Files
Thumbs.db
desktop.ini

# Archives
*.zip
*.tar
*.gz
*.bz2
*.rar

# User-specific files
*.swp
*.swo

# Temporary Files
*.tmp
*.bak

# Fonts and binary files
*.ttf
*.otf
*.woff
*.woff2
